{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Edit Institute Details
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Institute Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'edit_inst_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" value="{{ inst_det.name }}">
                            </div>

                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" name="address" value="{{ inst_det.address }}">
                            </div>

                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" name="city" value="{{ inst_det.city }}">
                            </div>

                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control" name="state" value="{{ inst_det.state }}" >
                            </div>
                            <div class="form-group">
                                <label>Pin</label>
                                <input type="number" class="form-control" name="pin" value="{{ inst_det.pin }}">
                            </div>
                            <div class="form-group">
                                <label>Website</label>
                                <input type="url" name="website" class="form-control" value="{{ inst_det.website }}">
                            </div>
                            <div class="form-group">
                                <label>Area (in sq. meters)</label>
                                <input type="number" name="area" class="form-control" value= "{{ inst_det.area }}">
                            </div>
                            <div class="form-group">
                                <label>Builtup Area (in sq. meters)</label>
                                <input type="number" name="builtup_area" class="form-control" value="{{ inst_det.builtup_area }}">
                            </div>
                            <div class="form-group">
                                <label>Recognition Date</label>
                                <input type="date" name="recognition_date" class="form-control" value="{{ inst_det.recognition_date }}">
                            </div>
                            <div class="form-group">
                                <label>Campus Type</label>
                                <input type="text" name="campus_type" class="form-control" value="{{ inst_det.campus_type }}">
                            </div>
                            <div class="form-group">
                                <label>Institute Type</label>
                                <input type="text" name="institute_type" class="form-control" value="{{ inst_det.institute_type }}" >
                            </div>
                            <div class="form-group">
                                <label>Institute Nature</label>
                                <input type="text" name="institute_nature" class="form-control" value="{{ inst_det.institute_nature }}">
                            </div>
                            <div class="form-group">
                                <label>Establishment Date</label>
                                <input type="date" name="establishment_date" class="form-control" value="{{ inst_det.establishment_date }}">
                            </div>
                            <div class="form-group">
                                <label>Mail Prefix</label>
                                <input type="text" name="mail_prefix" class="form-control" value="{{ inst_det.mail_prefix }}">
                            </div>


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Update!</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}