{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Manage Expenses
{% endblock page_title %}

{% block main_content %}

{% load static %}
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Add new Expense</h3>
                </div>
                <!-- /.card-header -->

                            {% comment %} Display Messages {% endcomment %}
                            {% if messages %}
                            <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                {% elif message.tags == "success" %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            </div>
                            {% endif %}
                        
                <form method="POST" action="{% url 'add_expense_save' %}">
                    {% csrf_token %}
                    <div class="card-body">
                       
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="number" name="amt" class="form-control" required></div>
                        
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button> <br/>&nbsp;
                    </div>

                </form>

                </div>
                <!-- /.card -->



            </div>
        </div>
        <div class="row">
			<div class="col-md-12">
				<div class="card card-success">
					<div class="card-header">
						<h3 class="card-title">Past Expense Details</h3>
					</div>
					
					<div class="card-body">
						<div class="table-responsive">
							<table class="table">
								<thead class="thead-light">
								<tr>
									<th>Sr. no.</th>
									<th>Fiscal Year</th>
									<th>Total Expense</th>
								</tr>
								</thead>
								
								{% for row in expense %}
								<tr>
									<td>{{ row.id }}</td>
									<td>{{ row.fiscal_year }}</td>
									<td>{{ row.total_expense }}</td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</div>
					<!-- /.card-body -->
				</div>
			</div>
		</div>
	
	</div><!-- /.container-fluid -->
{% endblock main_content %}