{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Select the fields
{% endblock page_title %}

{% block main_content %}

{% load static %}
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Select all fields</h3>
                </div>
                <!-- /.card-header -->

                            {% comment %} Display Messages {% endcomment %}
                            {% if messages %}
                            <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                {% elif message.tags == "success" %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            </div>
                            {% endif %}
                        
                <form method="POST" action="{% url 'gen_pdf_staff' %}">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label>Name</label></div>
                                <div class="col"><input type="checkbox" name="fields[]" value="name" class="form-control" id = "namec" autocomplete="off" onclick="Checktorf(`namec`,`nameip`)"></div>
                                <div class="col"><input type="text" name="headers[]" id = "nameip" class="form-control" value="Name" disabled></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label>Qualifications</label></div>
                                <div class="col"><input type="checkbox" name="fields[]" value="qualifications" class="form-control" id = "qualic" autocomplete="off" onclick="Checktorf(`qualic`,`qualiip`)"></div>
                                <div class="col"><input type="text" name="headers[]" id = "qualiip" class="form-control" value="Qualifications" disabled></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label>Designation</label></div>
                                <div class="col"><input type="checkbox" name="fields[]" value="designation" class="form-control" id = "desic" autocomplete="off" onclick="Checktorf(`desic`,`desiip`)"></div>
                                <div class="col"><input type="text" name="headers[]" id = "desiip" class="form-control" value="Designation" disabled></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label>Area Of Specialisation</label></div>
                                <div class="col"><input type="checkbox" name="fields[]" value="area_of_specialisation" class="form-control" id = "aspecc" autocomplete="off" onclick="Checktorf(`aspecc`,`aspecip`)"></div>
                                <div class="col"><input type="text" name="headers[]" id = "aspecip" class="form-control" value="Area Of Specialisation" disabled></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label>Experience</label></div>
                                <div class="col"><input type="checkbox" name="fields[]" value="experience" class="form-control" id = "expic" autocomplete="off" onclick="Checktorf(`expic`,`expip`)"></div>
                                <div class="col"><input type="text" name="headers[]" id = "expip" class="form-control" value="Experience" disabled></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label>Number Of Doctorate Students Guided</label></div>
                                <div class="col"><input type="checkbox" name="fields[]" value="number_of_doctorate_students_guided" class="form-control" id = "ndc" autocomplete="off" onclick="Checktorf(`ndc`,`ndip`)"></div>
                                <div class="col"><input type="text" name="headers[]" id = "ndip" class="form-control" value="Number Of Doctorate Students Guided" disabled></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label>Number Of Graduate Students Guided</label></div>
                                <div class="col"><input type="checkbox" name="fields[]" value="number_of_graduate_students_guided" class="form-control" id = "ngc" autocomplete="off" onclick="Checktorf(`ngc`,`ngip`)"></div>
                                <div class="col"><input type="text" name="headers[]" id = "ngip" class="form-control" value="Number Of Graduate Students Guided" disabled></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>

                </div>
                <!-- /.card -->



            </div>
        </div>
        <script>
            function Checktorf(field1,field2) {
              var checkBox = document.getElementById(field1);
              var text = document.getElementById(field2);
              if (checkBox.checked == true){
                text.disabled = false;
              } else {
                 text.disabled = true;
              }
            }
        </script>  
{% endblock main_content %}