{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Select the fields
{% endblock page_title %}


{% block main_content %}
{% load static %}
<script src="{% static "dist/js/multiple_drop.js" %}" ></script>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Select all fields</h3>
                </div>
                <!-- /.card-header -->

                            {% comment %} Display Messages {% endcomment %}
                            {% if messages %}
                            <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                {% elif message.tags == "success" %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            </div>
                            {% endif %}
                        
                <form method="POST" action="{% url 'gen_pdf_student' %}">
                    {% csrf_token %}
                    <div class="card-body">
                       
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label>Name</label></div>
                                <div class="col"><input type="checkbox" name="fields[]" value="admin__first_name" class="form-control" id = "namec" autocomplete="off" onclick="Checktorf(`namec`,`nameip`)"></div>
                                <div class="col"><input type="text" name="headers[]" id = "nameip" class="form-control" value="Name" disabled></div>
                                <div class="col"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label>Email</label></div>
                                <div class="col"><input type="checkbox" name="fields[]" value="admin__email" class="form-control" id = "emailc" autocomplete="off" onclick="Checktorf(`emailc`,`emailip`)"></div>
                                <div class="col"><input type="text" name="headers[]" id = "emailip" class="form-control" value="Email" disabled></div>
                                <div class="col"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label>Gender</label></div>
                                <div class="col"><input type="checkbox" name="fields[]" value="gender" class="form-control" id = "genderc" autocomplete="off" onclick="Checktorfadv(`genderc`,`genderip`,`genderqu`)"></div>
                                <div class="col"><input type="text" name="headers[]" id = "genderip" class="form-control" value="Gender" disabled></div>
                                <div class="col">
                                    <select name="genderq" class="form-control" id="genderqu" multiple multiselect-search="true" 
                                    multiselect-select-all="true" 
                                    multiselect-max-items="3"
                                    multiselect-hide-x = "false"  disabled>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label>Address</label></div>
                                <div class="col"><input type="checkbox" name="fields[]" value="address" class="form-control" id = "addc" autocomplete="off" onclick="Checktorf(`addc`,`addip`)"></div>
                                <div class="col"><input type="text" name="headers[]" id = "addip" class="form-control" value="Address" disabled></div>
                                <div class="col"></div>
                            </div>
                        </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>

                </div>
                <!-- /.card -->



            </div>
        </div>
        <script>
            function Checktorf(field1,field2) {
              var checkBox = document.getElementById(field1);
              var text = document.getElementById(field2);
              if (checkBox.checked == true){
                text.disabled = false;
              } else {
                 text.disabled = true;
              }
            }
            function Checktorfadv(field1,field2,field3) {
              var checkBox = document.getElementById(field1);
              var text = document.getElementById(field2);
              var query = document.getElementById(field3)
              if (checkBox.checked == true){
                text.disabled = false;
                query.disabled = false;
              } else {
                 text.disabled = true;
                 query.disabled=true;
              }
            }
        </script> 
{% endblock main_content %}
